<div class="text-center text-primary">
    <div class="col-md-6 offset-md-3">
        <h2>You've reached the end of the internet</h2>
        <hr />
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Movies">Home Page</a>
    </div>
</div>